<div class="subject show" style ="margin: 0 auto;">
 <%= link_to "Back to list", users_path %>
  <h2>Show Subject</h2>

  <table summary="Student detail view">
    <tr>
        <th>Email</th>
        <td><%= @user.email %></td>
      </tr>
    <tr>
        <th>Role</th>
        <td><%= @user.role %></td>
      </tr>
       
  </table>
  
</div>
</div>