<div class="subject show" style ="margin: 0 auto;">
 <%= link_to "Back to list", admin_users_path %>
  <h2>Show Subject</h2>

  <table summary="Student detail view">
    
        <th>Email</th>
        <td><%= @admin_user.email %></td>
      </tr>
      <tr>
        <tr>
          <th> Username </th>
          <td> <%= @admin_user.username %></td>
    </tr> 
  </table>
  
</div>
</div>